@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --ui-info: #2B7FFF;
  --ui-bg: var(--color-slate-950)
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }

  button {
    cursor: pointer;
  }
}